* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
}

header {
    background-color: rgb(52, 133, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    color: white;

}

header h2 {
    font-size: 34px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 25px 25px 20px;
    padding-bottom: 30px;
}

h2 svg {
    fill: white;
    height: 55px;
    width: auto;

}

li {
    display: flex;
    align-items: center;
    margin: 30px;
    font-weight: 600;
    font-size: 26px;
}

li svg {
    height: 30px;
    width: auto;
    fill: white;
    margin-right: 30px;

}

.nav-extra {
    margin-top: 100px;
}

main {
    height: 100%;
    width: 80%;
}

.search-sect {
    display: flex;
    align-items: center;
    margin: 25px 0 0 45px;
}

.search-sect svg {
    height: 25px;
    width: auto;
    margin-right: 20px;
}

.search-bar {
    background-color: rgb(235, 235, 235);
    width: 700px;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
    border:none;
}

.profile-sect {
    display: flex;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profile-sect svg {
    height: 25px;
    width: auto;
    margin-right: 20px;
}

.sect-1 {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sect-2 {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.greetings {
    display:flex;
    flex-direction: column;
}